.EditButton_1 {
  position: fixed;
}

.EditButton_1-content {
  background-color: #fff;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  max-width: 600px;
  border-radius: 10px;
  width: 80%;
}
.EditButton_1 h3 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.EditButton_1 p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.EditButton_1 button {
  padding: 12px 24px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  border-radius: 30px;
  font-size: 18px;
}

.EditButton_1 label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.EditButton_1 input {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
}
.EditButton_1 button {
  margin-right: 10px;
}
.EditButton_2 {
  padding-left: 10%;
}
.EditButton_1 button:hover {
  background-color: #45a049;
}
@media only screen and (max-width: 600px) {
  .EditButton_1-content {
    padding: 20px;
    width: 90%;
  }

  .EditButton_1 h3 {
    font-size: 20px;
  }

  .EditButton_1 p {
    font-size: 14px;
  }

  .EditButton_1 button {
    padding: 10px 20px;
    font-size: 16px;
  }
}
